@model IMS.Modes.Entity.CategoryInfo;

<h3>Are you sure you want to delete?</h3>

<div>
    <dl class="row-cols-xxl-auto">
        <dd class="col-sm-2">
            @Html.DisplayNameFor(CategoryInfo=>CategoryInfo.CategoryName): @Model.CategoryName
        </dd>
        <dd class="col-sm-6">
            @Html.DisplayNameFor(CategoryInfo => CategoryInfo.CategoryDescription): @Model.CategoryDescription
        </dd>
        
        <dd class="col-sm-6">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.IsActive): @Model.IsActive
        </dd>
    </dl>
</div>

<form asp-action="Remove">
    <input type="submit" value="Remove" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')"/>   
</form>