@model IMS.Modes.Entity.StoreInfo;

<h3>Are you sure you want to delete?</h3>

<div>
    <dl class="row-cols-xxl-auto">
        <dd class="col-sm-2">
            @Html.DisplayNameFor(StoreInfo=>StoreInfo.StoreName): @Model.StoreName
        </dd>
        <dd class="col-sm-6">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.Address): @Model.Address
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.PhoneNumber): @Model.PhoneNumber
        </dd>
        <dd class="col-sm-6">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.RegistrationNo): @Model.RegistrationNo
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.PanNo): @Model.PanNo
        </dd>
        <dd class="col-sm-6">
            @Html.DisplayNameFor(StoreInfo => StoreInfo.IsActive): @Model.IsActive
        </dd>
    </dl>
</div>

<form asp-action="Remove">
    <input type="submit" value="Remove" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')"/>   
</form>