@model IMS.Modes.ViewModels.ReportViewModel
@using IMS.Modes.Enum

<style>
    .list {
        cursor: pointer;
        border-radius: 40px;
        margin-top: 20px;
        border: 1px solid #ffffff42;
        filter: brightness(50%);
        background: #ffffff17;
        list-style-type: none;
        width: 70px;
        height: 10vh;
        margin-left: 0;
        color: #d5d5d5e6;
        font-size: 17px;
        border: 3px solid azure;
        box-shadow: 0px 1px 8px 1px #6f6f6fdb;
        line-height: 62px;
        text-align: center;
    }

    list::before {
        content: '';
        height: 10px;
        width: 10px;
        background: black;

    }

    list::after {
        content:''
    }

        .list:hover {
            filter: brightness(64%);
            box-shadow: 0px 2px 19px 3px #af9696db;
        }

    .bead1 {
        top: -30px;
        left: -76px;
        position: absolute;
        display: block;
        cursor: pointer;
        border-radius: 52px;
        margin-top: 20px;
        border: 1px solid #ffffff42;
        filter: brightness(50%);
        background: #ffffff17;
        list-style-type: none;
        width: 91px;
        height: 13vh;
        margin-left: 0;
        color: #d5d5d5e6;
        font-size: 15px;
        border: 3px solid azure;
        line-height: 81px;
        text-align: center;
    }

    .bead1:hover{
            box-shadow: 4px 2px #6f6f6fdb;
    }

    .bead2 {
        top: -30px;
        left: 116px;
        position: absolute;
        display: block;
        cursor: pointer;
        border-radius: 52px;
        margin-top: 20px;
        border: 1px solid #ffffff42;
        filter: brightness(50%);
        background: #ffffff17;
        list-style-type: none;
        width: 91px;
        height: 13vh;
        margin-left: 0;
        color: #d5d5d5e6;
        font-size: 15px;
        border: 3px solid azure;
        line-height: 81px;
        text-align: center;
    }

        .bead2:hover {
            box-shadow: -4px 2px #6f6f6fdb;
        }
</style>

<p>Custom Report</p>
<form asp-action="Search" method="get">
   
    @*  <div class="row">
        <div class="col-2">
                <div class="form-floating">
                <select asp-for="search.CustomerId" id="CustomerInfoId" class="form-control" asp-items="@(new SelectList(ViewBag.customerInfo,"Id","CustomerName"))">
                    <option value="null" selected><textbox>--CHOOSE-</textbox></option>
                </select>
                    <label asp-for="search.CustomerId " class="form-label">-CHOOSE-</label>
                    <span id="ValidCustomer" class="text-danger"></span>
                </div>
        </div>  *@

    
    <div class="row">
        <div class="col-2">
            <div class="form-floating" style="position:relative">
                <input asp-for="search.CustomerId" id="customerId" hidden />
                <textarea class="form-control" id="customerName" style="margin-bottom:2px"></textarea>
                <label class="form-label" for="customeName">Customer Name</label>
                <span id="cue" style="position:absolute; top:25px; left:1vw; width:91%; background:white" class="text-md-start">Type A Name</span>
                <span id="validstartdate" style="color:lightseagreen"></span>
            </div>
                <ul id="CustomerList" style="position: relative">

                </ul>
                
            
        </div>
       
        @* <div class="col-2">
            <div class="form-floating">
                <select asp-for="search.SupplierId" id="SupplierId" class="form-control" asp-items="@(new SelectList(ViewBag.supplierInfo,"Id","SupplierName"))">
                    <option value="null" selected disabled>-CHOOSE-</option>
                </select>
                <label asp-for="search.SupplierId " class="form-label"></label>
                <span id="ValidSupplier"></span>
            </div>
        </div> *@

        <div class="col-2">
            <div class="form-floating">
                <select id="search.PaymentMethod" class="form-control" asp-for="search.PaymentMethod" asp-items="@(Html.GetEnumSelectList<IMS.Modes.Enum.PaymentMethodEnum>())">
                </select>
                <label class="form-label" asp-for="search.PaymentMethod">Payment Method</label>
            </div>
        </div>

        <div class="col-2 form-floating">
            <input type="date" asp-for="search.StartDate" class="form-control" />
            <label class="form-label">StartDate</label>
            <span id="validstartdate" class="text-danger"></span>
        </div>
        <div class="col-2 form-floating">
            <input type="date" asp-for="search.EndDate" class="form-control"/>
            <label class="form-label">EndDate</label>
            <span id="validenddate" class="text-danger"></span>
        </div>
   
        
        

        <div class="col-2">
            <button class="btn btn-primary">Submit</button>
        </div>
        

    </div>
</form>

@if (Model.CustomerReportViewModels != null)
{
    <div class="row" style="overflow-x:auto">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Transaction Id
                        </th>
                        <th>
                            Transaction Date
                        </th>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Net Amount
                        </th>
                        <th>
                            Discount
                        </th>
                        <th>
                            Total Amount
                        </th>
                        <th>
                            PaymentMethod
                        </th>
                        <th>
                            Remarks
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var items in Model.CustomerReportViewModels)
                    {
                        <tr>
                            <td>
                                @items.TransactionId
                            </td>
                            <td>
                                @items.TransactionDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @items.CustomerName
                            </td>
                            <td>
                                @items.NetAmount
                            </td>
                            <td>
                                @items.DiscountAmount
                            </td>
                            <td>
                                @items.TotalAmount
                            </td>
                            <td>
                                @Html.Raw((PaymentMethodEnum)items.PaymentMethod)
                            </td>
                            <td>
                                @items.Remarks
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @{
                double totalamt = 0;
                double discount = 0;
                double amount = 0;
                totalamt = Model.CustomerReportViewModels.Sum(item => item.TotalAmount);
                discount = Model.CustomerReportViewModels.Sum(item => item.DiscountAmount);
                amount = Model.CustomerReportViewModels.Sum(item => item.NetAmount);
            }
            
        </div>
        <tfoot>
            <th>
                <td colspan="2">Total</td>
                <td>@amount</td>
                <td>@discount</td>
                <td>@totalamt</td>
                <td colspan="2"></td>
            </th>
        </tfoot>
    </div>
}

@section Scripts {
    <script>

        var customerList;
        $(document).ready(function () {
            $.ajax({
                url: '/api/CustomerInfo/getCustomer',
                data: {},
                method: 'POST'
            }).done(function (data) {
                customerList = data;
                console.log(customerList);
            }).fail(function () { });
        });


        $('#customerName').keyup(function () {
            $('#CustomerList').empty();
            var name = $('#customerName').val().toLowerCase();
            var optionList = '';
            var regularExp = new RegExp('^' + name + '[A-Za-z]*$');

            if (name != '') {
                $.each(customerList, function (index, value) {
                    if (value['customerName'].toLowerCase().match(regularExp)) {
                        optionList += '<span class="bead1" hidden></span><span class="bead2" hidden></span>';
                        optionList += '<li value="' + value['id'] + '" class="list"' + '>' + value['customerName'] + '</li>';
                    }
                });
            }
            $('#CustomerList').append(optionList);
        });

        $('#cue').click(function () {
            $('#cue').hide();
            $('#customerName').focus();

        });

        $('#customerName').focusout(function () {
            var name = $('#customerName').val();

            if (name == '') {
                $('#cue').show();
                $('#CustomerList').empty();
            }
        });

        $('#CustomerList').on('click', 'li', function () {
            debugger;
            var value = $(this).val();
            var name = $(this).text();
            $('#customerId').val(value);
            $('#customerName').val(name);
            $('#CustomerList').empty();
        });


        $('#CustomerList.list').hover(
            function () {
                // Mouse enter
                debugger;
                $(this).nextAll('span').slice(0, 2).show();
            },
            function () {
                // Mouse leave (optional if you want to hide the spans when the mouse leaves)
                debugger;
                $(this).nextAll('span').slice(0, 2).hide();
            }
        );
       
 


    </script>
}
